@tailwind base;
@tailwind components;
@tailwind utilities;

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #ed1f24cc;
  height: 4px;
}
.card::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}
.card::after {
  width: 100%;
  background: white;
  transition: width 0.5s ease;
}

.card:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}
.card:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}
.card:hover .header {
  margin-bottom: 0.5em;
}
.card:hover .icon {
  width: 1rem;
  transform: translateX(1rem);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  margin-left: 1rem /* 16px */;
  margin-right: 1rem /* 16px */;
}
.card:hover .hover_content {
  max-height: 10em;
  transform: none;
}
