@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #ed1f24cc;
}
.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--primary);
  height: 4px;
}
.card::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}
.card::after {
  width: 100%;
  background: rgb(202, 202, 202);
  transition: width 0.5s ease;
}

.card:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}
.card:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

.card:hover .icon {
  width: 1rem;
  transform: translateX(1rem);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  margin-left: 1rem;
  margin-right: 1rem;
}

.text-fill {
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
    background-color: black;
  }
  25%{
    background-color: #ED1F24CC;
  }
  100% {
    width: 100%;
    background-color: #ED1F24CC;
  }
  110%{
    width: 100%;
    background-color: #ED1F24CC;
  }
}

.progress-animation {
  transition: ease-in-out;
  animation: progressAnimation 5s linear;
}
